/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public doportfolio)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  transition: all 0.2s;
}

body {
  font: normal normal 300 16px/1.2em "Ubuntu";
}

.header {
  width: 100%;
  background-color: #047adb;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  margin: 0 0 1em 0;
}

.header__logo {
  max-height: 50px;
}

.header__titles {
  font-size: 1em;
  text-align: center;
}

.header__titles__title {
  font-weight: 300;
  font-size: 2em;
  margin: 0.5em 0 0 0;
}

.header__titles__subtitle {
  font-size: 1em;
  margin: 0.5em 0 0 0;
}

.portfolio {
  max-width: 100%;
  border-bottom: 2px solid #047adb;
}

.portfolio__banner__image,
.work__image {
  max-width: 100%;
  display: block;
}

.portfolio__title {
  font-size: 1.7em;
  font-weight: 300;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.3em;
  margin: 1.5em 0.5em 0.5em 0.5em;
}

.portfolio__works {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.works__work {
  margin-bottom: 2em;
  padding: 1em;
}

.work__image {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.work__description {
  background-color: #fff;
  margin-top: 1em;
}

.work__title {
  line-height: 1.5em;
  vertical-align: middle;
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
}

.work__specification {
  font-size: 1.1em;
  line-height: 1.3em;
  padding: 0.75em 0;
}

.work__link {
  display: inline-block;
  margin-right: 1em;
  padding: 0.5em 1em;
  font-size: 1.1em;
  line-height: 1.4em;
  background-color: #047adb;
  color: #fff;
  font-style: italic;
  text-decoration: none;
  border-radius: 2px;
}

.work__link:hover {
  transform: scale(1.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.footer {
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

.footer__social {
  display: flex;
  justify-content: center;
}

.footer__link,
.footer__link:visited {
  display: block;
  font-size: 2em;
  color: #fff;
  padding: 0.25em 0.5em;
  background-color: #047adb;
  border-radius: 2px;
  margin: 0 0.5em;
}

.footer__link:hover {
  transform: scale(1.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.footer__copyrights {
  padding: 0.5em;
}

.footer__copyrights__link,
.footer__copyrights__link:visited {
  color: #047adb;
  text-decoration: none;
  font-style: italic;
}

@media screen and (min-width: 360px) {
  .header__titles__title {
    font-size: 2.3em;
    margin: 0.5em 0 0 0;
  }
  .header__titles__subtitle {
    font-size: 1.2em;
    margin: 0.7em 0 0 0;
  }
  .work__title {
    line-height: 1.7em;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 320px) {
  .header__titles__title {
    font-size: 1.8em;
    line-height: 1em;
    margin: 0.5em 0 0 0;
  }
}

@media screen and (min-width: 551px) and (max-width: 700px) {
  .works__work {
    position: relative;
    margin-bottom: 1.5em;
  }
  .work__title {
    line-height: 1.6em;
    font-size: 1.4em;
    border: none;
    background-color: #047adb;
    text-align: center;
    color: #fff;
  }
  .work__description {
    position: absolute;
    margin-top: 0;
    width: 60%;
    top: 1em;
    right: 1em;
    bottom: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  }
  .work__specification {
    padding: 0.75em;
  }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  .work__description {
    width: 50%;
  }
}

@media screen and (min-width: 701px) {
  .header__logo {
    max-height: 70px;
  }
  .header__titles__title {
    font-size: 3em;
  }
  .header__titles__subtitle {
    font-size: 1.6em;
    margin: 1em 0 0 0;
  }
  .portfolio__title {
    font-size: 2em;
  }
  .works__work {
    width: 50%;
  }
  .work__title {
    line-height: 1.7em;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 801px) {
  .works__work:first-of-type {
    width: 100%;
  }
  .works__work {
    width: 50%
  }
  .work__specification {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  .work__title {
    line-height: 1.8em;
    font-size: 1.6em;
  }
}

@media screen and (min-width: 1001px) {
  .header__logo {
    max-height: 90px;
  }
  .header__titles__title {
    font-size: 3.5em;
  }
  .header__titles__subtitle {
    font-size: 1.8em;
    margin: 1em 0 0 0;
  }
  .portfolio__title {
    font-size: 2.3em;
  }
  .works__work:first-of-type {
    width: 50%;
  }
  .work__title {
    line-height: 2em;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1201px) {
  .portfolio,
  .footer {
    width: 1200px;
    margin: 1em auto;
  }
}